In [1]:
import pandas as pd
import mysql.connector

In [2]:
providers = pd.read_csv("providers_data.csv")
receivers = pd.read_csv("receivers_data.csv")
food_listings = pd.read_csv("food_listings_data.csv")
claims = pd.read_csv("claims_data.csv")

In [3]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="" 
)
cursor = conn.cursor()

In [4]:
cursor.execute("CREATE DATABASE IF NOT EXISTS food_data")
print("MySQL database 'food_data' created successfully!")

MySQL database 'food_data' created successfully!

In [5]:
cursor.execute("use food_data")

In [6]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS providers (
        Provider_ID INT PRIMARY KEY,
        Name VARCHAR(255),
        Type VARCHAR(100),
        Address TEXT,
        City VARCHAR(100),
        Contact VARCHAR(50)
    )
""")
conn.commit()

In [7]:
cursor.execute("""ALTER TABLE providers MODIFY Provider_ID INT NOT NULL AUTO_INCREMENT""")
conn.commit()

In [8]:
# Insert data using iterrows()
for index, row in providers.iterrows():
    cursor.execute("""
        INSERT INTO providers (Provider_ID, Name, Type, Address, City, Contact) 
        VALUES (%s, %s, %s, %s, %s, %s)
    """, tuple(row))

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'providers.PRIMARY'

ðŸ“Œ Which city has the highest number of food providers?

In [ ]:
query = """
    SELECT City, COUNT(*) AS Provider_Count
    FROM providers
    GROUP BY City
    ORDER BY Provider_Count DESC
    LIMIT 1;
"""

cursor.execute(query)
result = cursor.fetchall()

# Convert result into a DataFrame for better readability
df = pd.DataFrame(result, columns=["City", "Provider_Count"])
print(df)

        City  Provider_Count
0  New Carol               3

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS receivers (
        Receiver_ID INT PRIMARY KEY,
        Name VARCHAR(255),
        Type VARCHAR(100),
        City VARCHAR(100),
        Contact VARCHAR(50)
    )
""")
conn.commit()

In [ ]:
for index, row in receivers.iterrows():
    cursor.execute("""
        INSERT INTO receivers (Receiver_ID, Name, Type, City, Contact) 
        VALUES (%s, %s, %s, %s, %s)
    """, tuple(row))
conn.commit()

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS food_listings (
        Food_ID INT PRIMARY KEY,
        Food_Name VARCHAR(255),
        Quantity INT,
        Expiry_Date DATE,
        Provider_ID INT,
        Provider_Type VARCHAR(100),
        Location VARCHAR(50),
        Food_Type VARCHAR(100),
        Meal_Type VARCHAR(100)
    )
""")
conn.commit()

In [ ]:

# Insert data into food_listings table
for index, row in food_listings.iterrows():
    cursor.execute("""
        INSERT INTO food_listings (Food_ID, Food_Name, Quantity, Expiry_Date, Provider_ID, Provider_Type, Location, Food_Type, Meal_Type)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, tuple(row))
conn.commit()

In [ ]:
query = """
    SELECT *
    FROM food_Listings
"""

cursor.execute(query)
result = cursor.fetchall()

# Convert result into a DataFrame for better readability
df = pd.DataFrame(result,columns=["Food_ID", "Food_Name", "Quantity", "Expiry_Date", "Provider_ID", "Provider_Type", "Location", "Food_Type", "Meal_Type"])
print(df)

     Food_ID Food_Name  Quantity Expiry_Date  Provider_ID     Provider_Type  \
0          1     Bread        43  2025-03-17          110     Grocery Store
1          2      Soup        22  2025-03-24          791     Grocery Store
2          3    Fruits        46  2025-03-28          478  Catering Service
3          4    Fruits        15  2025-03-16          930        Restaurant
4          5      Soup        14  2025-03-19          279        Restaurant
..       ...       ...       ...         ...          ...               ...
995      996      Fish        15  2025-03-30          467  Catering Service
996      997      Fish        22  2025-03-18           35     Grocery Store
997      998    Fruits         6  2025-03-22          444        Restaurant
998      999     Pasta        15  2025-03-30          702       Supermarket
999     1000     Salad        18  2025-03-19          155       Supermarket

             Location       Food_Type  Meal_Type
0    South Kellyville  Non-Vegetarian  Breakfast
1          West James  Non-Vegetarian     Dinner
2         Lake Regina           Vegan  Breakfast
3           Kellytown           Vegan      Lunch
4          Garciaport           Vegan     Dinner
..                ...             ...        ...
995      Phillipsfort           Vegan  Breakfast
996     Andersonmouth      Vegetarian  Breakfast
997         New Billy  Non-Vegetarian     Dinner
998     Lake Mistyton  Non-Vegetarian      Lunch
999       Charlesview  Non-Vegetarian     Dinner

[1000 rows x 9 columns]

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS claims (
        Claim_ID INT PRIMARY KEY,
        Food_ID INT,
        Receiver_ID INT,
        Status VARCHAR(50),
        Timestamp DATETIME
    )
""")
conn.commit()

In [ ]:
# Convert 'Timestamp' to MySQL DATETIME format
claims['Timestamp'] = pd.to_datetime(claims['Timestamp'], format='%m/%d/%Y %H:%M')
claims['Timestamp'] = claims['Timestamp'].dt.strftime('%Y-%m-%d %H:%M:%S')

for index, row in claims.iterrows():
    cursor.execute("""
        INSERT INTO claims (Claim_ID, Food_ID, Receiver_ID, Status, Timestamp)
        VALUES (%s, %s, %s, %s, %s)
    """, tuple(row))
conn.commit()

In [ ]:
query = """
    SELECT *
    FROM claims
"""

cursor.execute(query)
result = cursor.fetchall()

# Convert result into a DataFrame for better readability
df = pd.DataFrame(result,columns=["Claim_ID", "Food_ID", "Receiver_ID", "Status", "Timestamp"])
print(df)

     Claim_ID  Food_ID  Receiver_ID     Status           Timestamp
0           1      164          908    Pending 2025-03-05 05:26:00
1           2      353          391  Cancelled 2025-03-11 10:24:00
2           3      626          492  Completed 2025-03-21 00:59:00
3           4       61          933  Cancelled 2025-03-04 09:08:00
4           5      345          229    Pending 2025-03-14 15:17:00
..        ...      ...          ...        ...                 ...
995       996      855          211  Completed 2025-03-13 19:40:00
996       997      980          746  Cancelled 2025-03-17 22:04:00
997       998      832          967  Cancelled 2025-03-13 18:00:00
998       999      917           90  Completed 2025-03-01 15:31:00
999      1000      596          950  Cancelled 2025-03-13 12:51:00

[1000 rows x 5 columns]

In [ ]:
query = """
    SELECT *
    FROM food_Listings
"""

cursor.execute(query)
result = cursor.fetchall()

# Convert result into a DataFrame for better readability
df = pd.DataFrame(result,columns=["Food_ID", "Food_Name", "Quantity", "Expiry_Date", "Provider_ID", "Provider_Type", "Location", "Food_Type", "Meal_Type"])
print(df)

     Food_ID Food_Name  Quantity Expiry_Date  Provider_ID     Provider_Type  \
0          1     Bread        43  2025-03-17          110     Grocery Store
1          2      Soup        22  2025-03-24          791     Grocery Store
2          3    Fruits        46  2025-03-28          478  Catering Service
3          4    Fruits        15  2025-03-16          930        Restaurant
4          5      Soup        14  2025-03-19          279        Restaurant
..       ...       ...       ...         ...          ...               ...
995      996      Fish        15  2025-03-30          467  Catering Service
996      997      Fish        22  2025-03-18           35     Grocery Store
997      998    Fruits         6  2025-03-22          444        Restaurant
998      999     Pasta        15  2025-03-30          702       Supermarket
999     1000     Salad        18  2025-03-19          155       Supermarket

             Location       Food_Type  Meal_Type
0    South Kellyville  Non-Vegetarian  Breakfast
1          West James  Non-Vegetarian     Dinner
2         Lake Regina           Vegan  Breakfast
3           Kellytown           Vegan      Lunch
4          Garciaport           Vegan     Dinner
..                ...             ...        ...
995      Phillipsfort           Vegan  Breakfast
996     Andersonmouth      Vegetarian  Breakfast
997         New Billy  Non-Vegetarian     Dinner
998     Lake Mistyton  Non-Vegetarian      Lunch
999       Charlesview  Non-Vegetarian     Dinner

[1000 rows x 9 columns]

How many food providers and receivers are there in each city?

In [ ]:
query = """
    SELECT 
        COALESCE(p.City, r.City) AS City,
        COUNT(DISTINCT p.Provider_ID) AS Provider_Count,
        COUNT(DISTINCT r.Receiver_ID) AS Receiver_Count
    FROM 
        providers p
    FULL OUTER JOIN 
        receivers r
    ON 
        p.City = r.City
    GROUP BY 
        COALESCE(p.City, r.City)
    ORDER BY 
        City
"""
try:
    cursor.execute(query)
except:
    # MySQL does not support FULL OUTER JOIN, so use UNION ALL and aggregation
    query = """
        SELECT City, COUNT(Provider_ID) AS Provider_Count, 0 AS Receiver_Count
        FROM providers
        GROUP BY City
        UNION ALL
        SELECT City, 0 AS Provider_Count, COUNT(Receiver_ID) AS Receiver_Count
        FROM receivers
        GROUP BY City
    """
    cursor.execute(query)
    result = cursor.fetchall()
    df_sql = pd.DataFrame(result, columns=["City", "Provider_Count", "Receiver_Count"])
    city_counts_sql = df_sql.groupby("City", as_index=False).sum()
    print(city_counts_sql)
else:
    result = cursor.fetchall()
    city_counts_sql = pd.DataFrame(result, columns=["City", "Provider_Count", "Receiver_Count"])
    print(city_counts_sql)

                City  Provider_Count  Receiver_Count
0         Aaronshire               0               1
1           Adambury               1               0
2           Adamland               0               1
3          Adamsview               1               0
4         Adamsville               1               0
...              ...             ...             ...
1873       Yatesside               1               0
1874    Youngchester               1               0
1875     Zacharyview               0               1
1876    Zimmermanton               1               0
1877  Zimmermanville               1               0

[1878 rows x 3 columns]

Which type of food provider (restaurant, grocery store, etc.) contributes the most food?

In [ ]:
query = """
    SELECT Provider_Type, SUM(Quantity) AS Total_Quantity
    FROM food_listings
    GROUP BY Provider_Type
    ORDER BY Total_Quantity DESC
    LIMIT 1;
"""
cursor.execute(query)
result = cursor.fetchall()
df_sql = pd.DataFrame(result, columns=["Provider_Type", "Total_Quantity"])
print(df_sql)

  Provider_Type Total_Quantity
0    Restaurant           6923

What is the contact information of food providers in a specific city?

In [ ]:
city_name = "New Jessica"  # Replace with the desired city name

query = f"""
    SELECT Name, Address, Contact
    FROM providers
    WHERE City = %s
"""
cursor.execute(query, (city_name,))
result = cursor.fetchall()
df_contacts = pd.DataFrame(result, columns=["Name", "Address", "Contact"])
print(df_contacts)

               Name                                            Address  \
0  Gonzales-Cochran  74347 Christopher Extensions\nAndreamouth, OK ...

           Contact
0  +1-600-220-0480

Which receivers have claimed the most food?

In [ ]:
query = """
    SELECT r.Name, COUNT(c.Claim_ID) AS Total_Claims
    FROM claims c
    JOIN receivers r ON c.Receiver_ID = r.Receiver_ID
    GROUP BY r.Name
    ORDER BY Total_Claims DESC
    LIMIT 5;
"""
cursor.execute(query)
result = cursor.fetchall()
df_top_receivers = pd.DataFrame(result, columns=["Receiver_Name", "Total_Claims"])
print(df_top_receivers)

       Receiver_Name  Total_Claims
0     Anthony Garcia             5
1  William Frederick             5
2       Matthew Webb             5
3       Scott Hunter             5
4     Chelsea Powell             4

What is the total quantity of food available from all providers?

In [ ]:
query = """
    SELECT SUM(Quantity) AS Total_Quantity_Available
    FROM food_listings
"""
cursor.execute(query)
result = cursor.fetchall()
df_total_quantity = pd.DataFrame(result, columns=["Total_Quantity_Available"])
print(df_total_quantity)

  Total_Quantity_Available
0                    25794

Which city has the highest number of food listings?

In [ ]:
query = """
    SELECT Location AS City, COUNT(*) AS Food_Listing_Count
    FROM food_listings
    GROUP BY Location
    ORDER BY Food_Listing_Count DESC
    LIMIT 1;
"""
cursor.execute(query)
result = cursor.fetchall()
df_city_listings = pd.DataFrame(result, columns=["City", "Food_Listing_Count"])
print(df_city_listings)

        City  Food_Listing_Count
0  New Carol                   6

What are the most commonly available food types?

In [ ]:
query = """
    SELECT Food_Type, COUNT(*) AS Count
    FROM food_listings
    GROUP BY Food_Type
    ORDER BY Count DESC;
"""
cursor.execute(query)
result = cursor.fetchall()
df_food_types = pd.DataFrame(result, columns=["Food_Type", "Count"])
print(df_food_types)

        Food_Type  Count
0      Vegetarian    336
1           Vegan    334
2  Non-Vegetarian    330

How many food claims have been made for each food item?

In [ ]:
query = """
    SELECT f.Food_Name, COUNT(c.Claim_ID) AS Claim_Count
    FROM claims c
    JOIN food_listings f ON c.Food_ID = f.Food_ID
    GROUP BY f.Food_Name
    ORDER BY Claim_Count DESC;
"""
cursor.execute(query)
result = cursor.fetchall()
df_claims_per_food = pd.DataFrame(result, columns=["Food_Name", "Claim_Count"])
print(df_claims_per_food)

    Food_Name  Claim_Count
0        Rice          122
1        Soup          114
2       Dairy          110
3        Fish          108
4       Salad          106
5     Chicken          102
6       Bread           94
7       Pasta           87
8  Vegetables           86
9      Fruits           71

Which provider has had the highest number of successful food claims?

In [ ]:
query = """
    SELECT p.Name AS Provider_Name, COUNT(c.Claim_ID) AS Successful_Claims
    FROM claims c
    JOIN food_listings f ON c.Food_ID = f.Food_ID
    JOIN providers p ON f.Provider_ID = p.Provider_ID
    WHERE c.Status = 'Completed'
    GROUP BY p.Name
    ORDER BY Successful_Claims DESC
    LIMIT 1;
"""
cursor.execute(query)
result = cursor.fetchall()
df_top_provider = pd.DataFrame(result, columns=["Provider_Name", "Successful_Claims"])
print(df_top_provider)

  Provider_Name  Successful_Claims
0   Barry Group                  5

What percentage of food claims are completed vs. pending vs. canceled?

In [ ]:
query = """
    SELECT 
        Status,
        COUNT(*) AS Count,
        ROUND(COUNT(*) * 100.0 / (SELECT COUNT(*) FROM claims), 2) AS Percentage
    FROM claims
    GROUP BY Status
"""
cursor.execute(query)
result = cursor.fetchall()
df_claims_status = pd.DataFrame(result, columns=["Status", "Count", "Percentage"])
print(df_claims_status)

      Status  Count Percentage
0    Pending    325      32.50
1  Cancelled    336      33.60
2  Completed    339      33.90

What is the average quantity of food claimed per receiver?

In [ ]:
query = """
    SELECT 
        r.Name AS Receiver_Name,
        AVG(f.Quantity) AS Avg_Quantity_Claimed
    FROM claims c
    JOIN receivers r ON c.Receiver_ID = r.Receiver_ID
    JOIN food_listings f ON c.Food_ID = f.Food_ID
    GROUP BY r.Name
    ORDER BY Avg_Quantity_Claimed DESC
"""
cursor.execute(query)
result = cursor.fetchall()
df_avg_quantity = pd.DataFrame(result, columns=["Receiver_Name", "Avg_Quantity_Claimed"])
print(df_avg_quantity)

          Receiver_Name Avg_Quantity_Claimed
0           Nancy Jones              50.0000
1            Lisa Pitts              50.0000
2    Christopher Wright              50.0000
3           Nancy Silva              50.0000
4          Peggy Knight              50.0000
..                  ...                  ...
615       John Reynolds               2.0000
616     Matthew Johnson               2.0000
617      Kenneth Barnes               2.0000
618        Amanda Kline               1.0000
619       Joshua Hooper               1.0000

[620 rows x 2 columns]

Which meal type (breakfast, lunch, dinner, snacks) is claimed the most?

In [ ]:
query = """
    SELECT f.Meal_Type, COUNT(c.Claim_ID) AS Claim_Count
    FROM claims c
    JOIN food_listings f ON c.Food_ID = f.Food_ID
    GROUP BY f.Meal_Type
    ORDER BY Claim_Count DESC
    LIMIT 1;
"""
cursor.execute(query)
result = cursor.fetchall()
df_meal_type = pd.DataFrame(result, columns=["Meal_Type", "Claim_Count"])
print(df_meal_type)

   Meal_Type  Claim_Count
0  Breakfast          278

What is the total quantity of food donated by each provider?

In [ ]:
query = """
    SELECT p.Name AS Provider_Name, SUM(f.Quantity) AS Total_Quantity_Donated
    FROM food_listings f
    JOIN providers p ON f.Provider_ID = p.Provider_ID
    GROUP BY p.Name
    ORDER BY Total_Quantity_Donated DESC
"""
cursor.execute(query)
result = cursor.fetchall()
df_quantity_by_provider = pd.DataFrame(result, columns=["Provider_Name", "Total_Quantity_Donated"])
print(df_quantity_by_provider)

                       Provider_Name Total_Quantity_Donated
0                         Miller Inc                    217
1                        Barry Group                    179
2         Evans, Wright and Mitchell                    158
3                        Smith Group                    150
4                       Campbell LLC                    145
..                               ...                    ...
623                   Reyes and Sons                      1
624                   Gonzales-Moore                      1
625                  Norris-Townsend                      1
626                        Mcgee PLC                      1
627  Martinez, Armstrong and Carroll                      1

[628 rows x 2 columns]